@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
    letter-spacing: 0.2em;
    color: #333333;
}

a {
	color: #656565;
	text-decoration: underline;
}



header {
	justify-content: space-between;
    padding: 10px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
}

header h1{
	color: #ffffff;
}

main {
    padding-top: 100px;
}

h1 {
    font-family: "Satisfy", cursive;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

button {
	background-color:#00A862;
	border-radius: 100vh;
	color: #fff;
	padding: 8px 16px;
	border: 0;
}

button:hover {
	background-color: #0acc7b;
}

/* メニュー用 */
.gnav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.gnav-item:not(:last-child) {
  margin-right: 20px;
}

.gnav-item a {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
  color: #fff;
}
.gnav-item a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
}

.gnav-item a:hover:after {
  width: 100%;
}

/* index.jsp メインビジュアル用 */
.main-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/coffee02.jpg') top center / cover no-repeat;
}

.main-logo {
    margin: 0;
    padding: 10px;
}

.main-logo h2 {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
}
/* index.jsp 商品一覧用 */
.main-content {
    margin: 20px;
}
.all-items-top {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 要素間のスペースを均等に配置 */
}

.all-items-top h2,
.all-items-top form {
    display: inline-block; /* form要素を横並びにするためにinline-blockに変更 */
}


.item-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item-tile {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.item-tile img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    aspect-ratio: 4 / 3;
}
.item-details {
    padding: 10px;
}
.item-details h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
}
.item-details p {
    margin: 0;
    font-size: 14px;
}
