@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Kaisei+Opti&family=Satisfy&display=swap');
	
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
    letter-spacing: 0.2em;
    color: #333333;
}

a {
	color: #656565;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}


header {
	justify-content: space-between;
    padding: 10px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    z-index: 9999;
}

header a {
    text-decoration: none;
    color: #fff;
}

header h1{
	color: #ffffff;
}

main {
    padding-top: 100px;
}

.main-container{
	background-color: #ffffff;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
}

.main-container h2{
	font-family: "BIZ UDGothic", sans-serif;
	padding: 10px;
	position: relative;
	margin-bottom: 1em;
	text-align: center;
}

.main-container h2:before{
	content: '';
	position: absolute;
	bottom: -5px;
	display: inline-block;
	width: 15%;
	height: 5px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #7DA3A1;
	border-radius: 2px;
}

.main-container h3 {
	font-family: "BIZ UDGothic", sans-serif;
	position: relative;
	margin-bottom: 1em;
	margin-top: 1em;
	text-align: center;
}

.main-container h3:before {
	content: '';
	position: absolute;
	bottom: -5px;
	display: inline-block;
	width: 15%;
	height: 5px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #7DA3A1;
	border-radius: 2px;
}

.main-container dl dt {
    border-left: solid 3px #7DA3A1;
    font-family: "BIZ UDGothic", sans-serif;
    margin-right: 30px;
    display: inline-block; /* 横並びに配置 */
    vertical-align: top; /* 垂直方向の配置を調整 */
}

.main-container dl dd {
    margin-left: 0; /* dd要素のマージンをリセット */
    display: inline-block; /* 横並びに配置 */
    vertical-align: top; /* 垂直方向の配置を調整 */
}

.main-container dl{
	margin-bottom: 1rem;
	
}
.main-container dt {
	padding-left: 10px;
	width: 30%;
	font-weight: bold;
}

/* テーブル定義 */

table {
	border-collapse:  collapse;
}
table th,
table td {
    width: auto;
}

th,td {
	border: solid 1px #333333;

}

th {
	font-family: "BIZ UDGothic", sans-serif;
	background-color: #34675C;
	color: #ffffff;
}

td {
	background-color: #e6e6e6;
}

table tr:nth-child(odd) td {
	background: #fff;
}
.number{
    width: 10%;
 }
 
 .number2{
    width: 20%;
 }
 
.inpnum {
	width: 100%;
}

.center {
	text-align: center;
}
.right {
	text-align: right;
}


.inpw { width: 350px;}

.btncenter {
	display: flex;
 	justify-content: center;
 	padding-bottom: 0.5rem;
}

.btnyoko {
	display: flex;
	justify-content: center;
}

.btnyoko-new {
    display: flex;
    align-items: center;
}

.btnyoko-new form {
    display: flex; /* フォーム内の要素も横並びにする */
    align-items: center; /* フォーム内の要素を中央揃えにする */
    width: 100%;
}


h1 {
    font-family: "Satisfy", cursive;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.btn1 {
	background-color: #34675C;
	border-radius: 4px;
	color: #fff;
	padding: 7px 12px;
	border: solid 1px #34675C;
	margin:0;
}

.btn1:hover {
	opacity: .5;
}

.btn2 {
	background-color: #ffffff;
	border-radius: 4px;
	color: #34675C;
	padding: 7px 12px;
	border: solid 1px #34675C;
	margin:0;
}

.btn2:hover{
	background-color: #34675C;
	color: #fff;
}

/* メニュー用 */
.gnav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.gnav-item:not(:last-child) {
  margin-right: 20px;
}

.gnav-item a {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
  color: #fff;
}
.gnav-item a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
}

.gnav-item a:hover:after {
  width: 100%;
}

/* index.jsp メインビジュアル用 */
.main-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/coffee02.jpg') top center / cover no-repeat;
}

.main-logo {
    margin: 0;
    padding: 10px;
}

.main-logo h2 {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
}
/* index.jsp 商品一覧用 */
.main-content {
    width: 90%;
}
.all-items-top {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 要素間のスペースを均等に配置 */
}

.all-items-top h2,
.all-items-top form {
    display: inline-block; /* form要素を横並びにするためにinline-blockに変更 */
}


.item-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item-tile {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.item-tile img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    aspect-ratio: 4 / 3;
}
.item-details {
    padding: 10px;
}

.item-details h4 {
    font-family: "BIZ UDGothic", sans-serif;
    position: relative;
    margin-bottom: 1em;
    text-align: center;
    padding: 10px 0; 
    background-color: #7DA3A1; /* 背景色を追加 */
    color: #ffffff; 
    border-radius: 2px; 
}


.item-details p {
    margin: 0;
    font-size: 14px;
}
